// --------------------------------------------------
//   Содержание файла стилей
// -----------------------------------------------------
// ::  Variables
// ::  Mixins
// ::  Reset
// ::  Custom styles
// ::  Header styles
// ::  left aside
// ::  Content styles
// ::  responsive


@import "normalize.css";
// -----------------------------------------
// Variables
// -----------------------------------------

// here musr be ariables
@bodyBackground: #ffffff;
@textColor: #000000;
@baseFontSize: 15pt;

// -----------------------------------------
// Mixins
// -----------------------------------------
// Clearfix
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	// Fixes Opera/contenteditable bug:
	// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}


// Center-align a block level element
.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Opacity
.opacity(@opacity) {
	opacity: @opacity / 100;
	filter: ~"alpha(opacity=@{opacity})";
}

// Border Radius
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

// Drop shadows
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}



// -----------------------------------------
// Reset
// -----------------------------------------
body{
	margin: 0;
	padding: 0;
	font-family: "Calibri";
	font-size: @baseFontSize;
	color: @textColor;
	background-color: @bodyBackground;

}

* {.box-sizing(border-box);}

// -----------------------------------------
// Custom styles
// -----------------------------------------

//
// Grid system
// --------------------------------------------------
// Centered container element
.container-fixed() {
    margin-right: auto;
    margin-left: auto;
    .clearfix();
}


// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
    display: none;
}

.left{
    float: left;
}
.right{
    float: right;
}

// Container (centered, fixed-width layouts)
.center {
	width: 965px;
	position: relative;
    .container-fixed();
}


a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

// HEADER style
#header {
	background: rgb(237, 239, 243);
}

.logo-bl {
	padding: 13px 0;
}

.h-top-bl {
	height: 67px;
	line-height: 67px;
}

.time {

	ul {
		display: inline;
		li {
			display: inline-block;
			width: 11px;
			height: 11px;
			background: rgb(208, 213, 224);
			.border-radius(50%);
		}
	}
	.active {
		background: rgb(1, 44, 119);
	}
}

.callback {
	display: block;
	height: 36px;
	padding: 0 12px;
	margin: 14px 0 0 44px;
	line-height: 36px;
	background: #fff;
	.box-shadow(0px 2px 3px 0px rgba(136, 169, 226, 1));
	.border-radius(2px);

	span {
		text-transform: uppercase;
		color: rgb(17, 101, 171);
		font-size: 11pt;
		font-weight: 600;
	}
}

.icon-phone {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 11px;
	background: url(../images/phone.png) no-repeat;
}

.contact-phone {
	margin-left: 44px;
	span {
		color: rgb(173, 175, 178);
		font-size: 11pt;
	}
	.num-phone {
		color: rgb(1, 44, 119);
		font-size: 12pt;
		font-weight: bold;
	}
}

.h-nav {
	margin-bottom: 1px;
	border-top: 1px solid rgb(208, 213, 224);
	a {
		display: inline-block;
		text-transform: uppercase;
		color: rgb(1, 44, 119);
		font-weight: lighter;
		padding: 30px 0 30px 0;
		margin-left: 20px;
		font-size: 11px;
		letter-spacing: 1.1px;
		border-bottom: 1px solid rgb(237, 239, 243);

		&:hover {
			color: rgb(23, 23, 23);
			border-bottom: 1px solid rgb(199, 205, 217);
		}
	}
	a.active {
		color: rgb(23, 23, 23);
		border-bottom: 1px solid rgb(199, 205, 217);
	}
}



.catalog-menu {
	clear: both;
	position: relative;
	#cat-bl-1, #cat-bl-2, #cat-bl-3 {
		
		.left();
		width: 33.3%;
		.cat-btn {
			display: block;
			width: 100%;
			padding: 24px 0 24px 0;
			text-align: center;
			color: #fff;
			i {
				display: inline-block;
				width: 7px;
				height: 7px;
				margin-left: 10px;
				background: url(../images/arrow-right.png) no-repeat;
				.transition(.5s);
			}
		}


		&:hover {
			i {
				background: url(../images/arrow-down.png) no-repeat;
			}
			.hidden-bl {
				display: block;
			}
		}
	}


	#cat-bl-1 {
		.cat-btn {
			background-color: rgb(1, 44, 119);
			.box-shadow(0px 3px 0px 0px rgba(9, 37, 86, 1));
		}
		.hidden-bl {
			background-color: rgb(1, 44, 119);
		}		
	}
	#cat-bl-2 {
		.cat-btn {
			background: rgb(12, 65, 158);
			.box-shadow(0px 3px 0px 0px rgba(9, 37, 86, 1));
		}
		.hidden-bl {
			background-color: rgb(12, 65, 158);
		}
	}
	#cat-bl-3 {
		.cat-btn {
			background: rgb(17, 101, 171);
			.box-shadow(0px 3px 0px 0px rgba(15, 75, 125, 1));
		}
		.hidden-bl {
			background-color: rgb(17, 101, 171);
		}
	}
}


.hidden-bl {
	position: absolute;
	display: none;
	width: 964px;
	left: 0;
	padding: 50px 17px 84px 326px;
	background: url(../images/Brightness.png) no-repeat ,
	url(../images/Leo.png) no-repeat right;
	z-index: 100;
}

.hidden-menu {
	

}

.hidden-context {
	display: inline-block;
	margin-left: 45px;
	p {
		width: 292px;
		margin: 0;
	}
}